.island-card {
  background-color: #4bb6b85d;
  width: 250px;
  padding: 15px;
  margin: 15px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.island-card:hover {
  background-color: #4bb6b8a8;
}

img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  overflow: hidden;
}
