.island-form {
  margin: 15px 30px 15px 15px;
  border-radius: 4px;
  background-color: #80ed996e;
  height: 70%;
  padding: 15px;
}

img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 15px;
}

input {
  height: 40px;
  border-radius: 4px;
  border: none;
  margin-right: 90px;
  margin-bottom: 30px;
  width: 180px;
}

button {
  /* display: block; */
  background-color: #38a3a5;
  border-radius: 4px;
  height: 60px;
  border: none;
  width: 150px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}
